.button {
  -fx-background-color: #fff;
  -fx-border-width: 0;
  -fx-border-radius: 5px;
  -fx-cursor: hand;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-padding: 10px 20px;

}

.button:hover {
  -fx-background-color: #f2f2f2;
}

.button:pressed {
  -fx-background-color: #e0e0e0;
}
